mixin banner()
  section.banner
    +img("content", "background-picture", "jpg", 1920, 860, "Изображение Греции", "banner__background-picture")
    .container 
      .banner__content 
        h1.title Путешествие по Европе
        p.subtitle В этом туре вы откроете для себя Европу в новом свете. Вас ждет: море, горы, а также потрясающая красота природы.
        a.banner__btn(href="#tours")
          span смотреть тур
          +img("svg", "arrow-bottom", "svg", 14, 14, "Иконка для кнопки", "banner__btn__svg")


