mixin products()
  section.products
    .container
      .products__list
        .products__list-item
          .products-wrapper
            .products__item-title
              .title 
                .title-text Комплексный 
                .price $1999
              .desc Ознакомьтесь с перечнем того, что входит в данный пакет 
            .products__list-content
              .products__list-content-item
                span.text Разработанный маршрут с гидом группы 
              .products__list-content-item
                span.text Перелет, трансфер и проживание в отелях
              .products__list-content-item
                span.text Завтраки, ужины в отелях и ланчи на природе
              .products__list-content-item
                span.text Экскурсии по удивительно красивым местам Европы
          .products__button 
            button.btn-order-now
              span.button-text-content купить тур сейчас 
        .products__list-item
          .products-wrapper
            .products__item-title
              .title 
                .title-text Экономный 
                .price $1399
              .desc Ознакомьтесь с перечнем того, что входит в данный пакет 
            .products__list-content
              .products__list-content-item
                span.text Разработанный маршрут с гидом группы 
              .products__list-content-item
                span.text Перелет и трансфер
              .products__list-content-item
                span.text Проживание в хостелах при отелях
              .products__list-content-item
                span.text Только завтраки в отелях
              .products__list-content-item
                span.text Экскурсии по удивительно красивым местам Европы
          .products__button 
            button.btn-order-now
              span.button-text-content купить тур сейчас 
      .products__desc
        h2.title Цены
        .desc
          |Специально для Вас мы разработали 2 пакета цен с разными условиями, отталкиваясь от Ваших потребностей и возможностей. Выберите для себя лучший вариант отпуска и отдохните на все 100%!
        .products__contacts 
          .products__contacts-title Свяжитесь с нами
          a.products__contacts-phone(href="tel:+749978468446")
            +icon("phone", 30, 30) 
            |+7 (499) -784-684-46	