.banner{
  margin-bottom: 198px;
  position: relative;
  aspect-ratio: 1920 / 860;
  
  .banner__background-picture{
    position: absolute;
    z-index: -1;
  }
    .container{
      min-height: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      color: $color-default-white;

      .banner__content{
        color: $color-default-white;

        .title{
          margin-top: 0;
          margin-bottom: 30px;

          font-family: $ff-montserrat;
          font-weight: 600;
          font-size: 55px;
          line-height: 80px;
          letter-spacing: -1.11px;
        }

        .subtitle{
          margin: 0;
          margin-bottom: 39px;

          font-family: $ff-montserrat;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: -0.47px;
          line-height: 170%;
        }

        .banner__btn{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 30px;
          padding-left: 40px;
          min-width: 340px;

          font-family: $ff-montserrat;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 2px;

          text-transform: uppercase;
          background-color: $color-default-orange;
          color: $color-default-white;
          border: none;

          cursor: pointer;
        }
      }
    }
}