.header {
  padding: 39px 0;

  background-color: $color-default-white;

  .container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__burger-menu {
      display: none;

      padding: 10px 21px;
      background-color: $color-default-orange;
    }
    
    .header__wrapper {
      display: flex;
      align-items: center;
      gap: 53px;

      .main-nav {
        display: flex;
        gap: 40px;   
        
        font-family: $ff-montserrat;
        font-weight: 500;

        .main-nav__link:hover {
          color: $color-default-orange;
        }

      }
      
      .header__phone {
        display: flex;
        align-items: center;
        gap: 6px;

        font-family: $ff-montserrat;
        font-weight: normal;

        color: $color-default-orange;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1200px) {
  
  .header{
    .container{
      .header__burger-menu{
        display: block;
      }
      .header__wrapper{
        position: absolute;
        visibility: hidden;
      }
    }
  }
}