.modal-order {
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color: $color-default-black, $alpha: 0.3);
  visibility: hidden;

  z-index: 1;

  
  .js-modal-body {
    position: relative;
    width: fit-content;

    display: flex;

    .modal-close-btn{
      position: absolute;
      z-index: 2;
      top: 20px;
      right: 20px;

      padding: 0;

      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    .questions__form{
      position: unset;

      margin: 0;
      padding: 60px;
      
      .questions__form-title{
        margin-bottom: 35px;

        font-size: 25px;
        line-height: 43px;
      }

      .questions__form-inputs{
        flex-direction: column;
        gap: 4px;
      }
      .questions__form-inputs{
        margin-bottom: 20px;
      }
    }
  }
}
.is-active{
  visibility: visible;
}

@media (max-width: 1200px) {
  .modal-order {
    img {
      display: none;
    }
  }
}
@media (max-width: 767px){
  .modal-order{
    .js-modal-body{
      .modal-form{
        padding: 72px 20px 89px 20px;
      }
    }
  }
}