.products {
  margin-bottom: 138px;

  font-family: $ff-montserrat;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .products__list {
      display: flex;
      gap: 30px;

      .products__list-item {
        display: flex;
        min-width: 370px;
        flex-direction: column;
        justify-content: space-between;

        padding: 40px 30px 30px 30px;

        border: 1px solid rgba($color: $color-default-black-text, $alpha: 0.3);
        border-radius: 6px;

        .products-wrapper {
          .products__item-title {
            .title {
              display: flex;
              justify-content: space-between;

              margin-bottom: 40px;

              .title-text {
                font-size: 28px;
                font-weight: 600;
                color: $color-default-products;
                opacity: 70%;
              }

              .price {
                font-size: 25px;
                font-weight: bold;
                color: $color-default-products;
                opacity: 70%;
              }
            }

            .desc {
              padding-bottom: 28px;
              margin-bottom: 30px;

              font-size: 16px;
            }
          }

          .products-list-content{
            .products__list-content-item {
              display: flex;
              align-items: flex-start;
              gap: 8px;

              margin-bottom: 15px;

              .text {
                font-size: 16px;
                line-height: 32px;
                color: $color-default-black-text;

              }
            }

            .products__list-content-item:last-child {
              margin-bottom: 30px;
            }
          }
        }

        .products__button  {
          bottom: 0;

          .btn-order-now {
            display: flex;
            align-items: center;
            padding: 30px 70px;

            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 12px;
            background-color: $color-default-orange;
            color: $color-default-white;
            border: none;

            cursor: pointer;
          }
        }

      }

      .products__list-item:hover {
        border: 1px solid rgba($color: $color-default-orange, $alpha: 1);

        .products-wrapper {
          .products__item-title {
            .title {
              .title-text,
              .price {
                color: $color-default-orange;
                letter-spacing: 0;
              }
            }
          }
        }
      }
    }

    .products__desc {
      .title {
        padding-bottom: 20px;
        margin-bottom: 30px;

        font-weight: 600;
        font-size: 55px;
      }

      .desc {
        margin: 0;
        margin-bottom: 60px;

        opacity: 70%;
        font-size: 16px;
      }

      .products__contacts {
        .products__contacts-title {
          margin-left: 46px;
          margin-bottom: 13px;

          font-weight: 500;
          font-size: 22px;
        }

        .products__contacts-phone {
          display: flex;
          align-items: center;
          gap: 20px;

          font-size: 20px;
          color: $color-default-black;
        }
      }
    }
  }
}