.questions {
  margin-bottom: 240px;

  font-family: $ff-montserrat;

  .container {
    position: relative;

    display: flex;
    justify-content: flex-end;

    .questions-background-picture {
      position: absolute;
      top: 0;
      left: 40px;

      z-index: -1;
    }

    
  }
}

@media (max-width: 1200px) {
  .questions {
    margin-bottom: 80px;

    .container {
      justify-content: center;

      padding: 70px 24px 75px 24px;

      .questions-background-picture {
        left: 0;
        
        width: 100%;
        height: 455px;
      }

      .questions__form {
        margin-top: 0;
      }

      .questions__form {
        .questions__btn {
          .questions__btn-order-now {
            padding: 19px 84px;

            min-width: 250px;
            font-size: 10px;
            font-weight: 500;
          }

        }
      }
    }
  }
}
@media (max-width: 767px) {
  .questions {
    margin-bottom: 70px;
    .container {
      padding: 0;
      .questions-background-picture {
        visibility: hidden;
      }

      .questions__form { 
        padding: 50px 16px;

        background-color: $color-white-second;
        box-shadow: none;
        .questions__form-title{
          max-width: 288px;

          margin-bottom: 20px;
          line-height: 32px;
          text-align: center;
        }
        .questions__form-decs{
          max-width: 288px;

          text-align: center;
        }
        .questions__form-inputs{
          flex-direction: column;
          gap: 20px;

          .questions__form-input{
            min-width: 288px;
          }
        }
        .questions__btn {
          .questions__btn-order-now {
            padding: 19px 103px;
          }

        }
      }
    }
  }
}