.questions {
  margin-bottom: 240px;

  font-family: $ff-montserrat;

  .container {
    position: relative;

    display: flex;
    justify-content: flex-end;

    .questions-background-picture {
      position: absolute;
      top: 0;
      left: 40px;

      z-index: -1;
    }

    .questions__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
      padding: 50px;

      background-color: $color-default-white;
      border-radius: 5px;
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);

      .questions__form-title {
        margin-bottom: 11px;

        font-weight: 600;
        font-size: 25px;
      }

      .questions__form-decs {
        margin: 0;
        margin-bottom: 24px;

        font-size: 16px;
      }

      .questions__form-inputs {
        position: relative;

        display: flex;
        gap: 19px;
        margin-bottom: 25px;

        .questions-wraper {
          position: absolute;
          left: 15px;
          top: 6px;

          color: $color-default-orange;
        }

        .questions__form-input {
          min-width: 269px;
          padding: 15px;

          font-size: 14px;
          border: 1px solid rgba($color: $color-default-black-second, $alpha: 0.3);
        }

        .questions__form-input::placeholder {
          font-size: 14px;
          color: $color-default-products;
        }

        .questions__form-number::placeholder::before {
          content: "*123123131";
          color: $color-default-orange;
        }
      }

      .questions__btn {
        .questions__btn-order-now {
          display: flex;
          align-items: center;
          padding: 18px 40px;

          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          background-color: $color-default-orange;
          color: $color-default-white;
          border: none;

          cursor: pointer;
        }

        .questions__btn-order-now:hover {
          background-color: $color-hover-button;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .questions {
    margin-bottom: 80px;

    .container {
      justify-content: center;

      padding: 70px 24px 75px 24px;

      .questions-background-picture {
        left: 0;
        
        width: 100%;
        height: 455px;
      }

      .questions__form {
        margin-top: 0;
      }

      .questions__form {
        .questions__btn {
          .questions__btn-order-now {
            padding: 19px 84px;

            min-width: 250px;
            font-size: 10px;
            font-weight: 500;
          }

        }
      }
    }
  }
}
@media (max-width: 768px) {
  .questions {
    margin-bottom: 70px;
    .container {
      padding: 0;
      .questions-background-picture {
        visibility: hidden;
      }

      .questions__form { 
        padding: 50px 16px;

        background-color: $color-white-second;
        box-shadow: none;
        .questions__form-title{
          max-width: 288px;

          margin-bottom: 20px;
          line-height: 32px;
          text-align: center;
        }
        .questions__form-decs{
          max-width: 288px;

          text-align: center;
        }
        .questions__form-inputs{
          flex-direction: column;
          gap: 20px;

          .questions__form-input{
            min-width: 288px;
            padding: 16px 15px 15px 15px;
          }
          .questions__form-number{
            padding-left: 51px;
          }
        }
        .questions__btn {
          .questions__btn-order-now {
            padding: 19px 103px;
          }

        }
      }
    }
  }
}