.tours {
  position: relative;

  margin-bottom: 256px;

  font-family: $ff-montserrat;

  .slider-tab-background {
    position: absolute;
    z-index: -2;
  }

  .container {
    .tabs {
      .tabs__nav {
        position: relative;

        display: flex;
        width: fit-content;
        gap: 99px;
        padding-bottom: 15px;
        margin-bottom: 80px;

        .tabs__nav-item {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -0.41px;

          color: $color-default-black-text;
          opacity: 30%;
        }

        .tabs__nav-item--active {
          color: $color-default-orange;
          opacity: 100%;
        }
      }

      .tabs__nav::after {
        position: absolute;
        bottom: 0;

        display: block;
        min-width: 100%;

        border-bottom: 1px solid $color-default-black-text;

        opacity: 30%;

        content: "";
      }

      .tabs__slides {
        .tabs__slide {
          display: none;
        }

        .tabs__slide--active {
          position: relative;

          display: flex;
          justify-content: space-between;
          align-items: center;


          .slide-background-picture {
            position: absolute;
            top: -5%;
            right: 20%;
            z-index: -1;
          }

          .tabs__tab-description {
            .tabs__description-title {
              position: relative;

              padding: 0;
              padding-bottom: 20px;
              margin: 0;
              margin-bottom: 30px;

              font-weight: 600;
              letter-spacing: -1.25px;
              line-height: 90px;
              font-size: 55px;
              color: $color-default-black-text;
            }
            .tabs__description-title::after {
              position: absolute;
              bottom: 0;
      
              display: block;
              min-width: 175px;
      
              border-style: solid;
              border-color: $color-default-orange;
              border-width: 2px;
      
              content: "";
            }

            .tabs__tab-desc{
              margin: 0;
              margin-bottom: 50px;

              letter-spacing: -0.47px;

              font-size: 16px;
              line-height: 28px;
              color: $color-default-black-text;
              opacity: 70%;
            }

            .tabs__btn-order-now {
              display: flex;
              align-items: center;
              padding: 30px 40px;

              letter-spacing: 2px;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 12px;
              background-color: $color-default-orange;
              color: $color-default-white;
              border: none;

              cursor: pointer;
            }
          }

          .tabs__slide-review {
            padding: 30px;

            background-color: $color-default-white;

            .tabs__review-title {
              position: relative;
              padding-bottom: 10px;
              margin-bottom: 20px;

              font-weight: 500;
              letter-spacing: -0.69px;
              font-size: 30px;
            }
            .tabs__review-title::after{
              position: absolute;
              bottom: 0;
      
              display: block;
              min-width: 68px;
      
              border-style: solid;
              border-color: $color-default-orange;
              border-width: 1px;
              opacity: 30%;
      
              content: "";
            }

            .tabs__review-content {
              margin: 0;
              margin-bottom: 35px;

              line-height: 28px;
              letter-spacing: -0.41px;
              font-size: 14px;
              color: $color-default-black-text;
              opacity: 70%;
            }

            .tabs__review-user {
              display: flex;
              align-items: center;
              gap: 16px;

              .tabs__username {
                font-weight: 500;
                letter-spacing: -0.47px;
                font-size: 16px;
                color: $color-default-black-text;
              }
            }
          }
        }
      }
    }
  }
}