.tours {
  position: relative;

  margin-bottom: 256px;

  font-family: $ff-montserrat;

  .slider-tab-background {
    position: absolute;
    z-index: -2;
  }

  .container {
    .slider-tab {
      .slider-tab__nav {
        display: flex;
        gap: 99px;
        padding-bottom: 15px;
        margin-bottom: 80px;

        .slider-tab__nav-item {
          font-size: 20px;
          font-weight: 500;

          color: $color-default-black-text;
          opacity: 30%;
        }

        .slider-tab__nav-item--active {
          color: $color-default-orange;
          opacity: 100%;
        }
      }

      .slider-tab__slides {
        .slider-tab__slide {
          display: none;
        }

        .slider-tab__slide--active {
          position: relative;

          display: flex;
          justify-content: space-between;
          align-items: flex-start;


          .slide-background-picture {
            position: absolute;
            top: -5%;
            right: 20%;
            z-index: -1;
          }

          .slider-tab__slide-description {
            .slider-tab__description-title {
              padding: 0;
              padding-bottom: 20px;
              margin: 0;
              margin-bottom: 30px;

              font-weight: 600;
              letter-spacing: -1.25px;
              line-height: 90px;
              font-size: 55px;
              color: $color-default-black-text;
            }

            .slider-tab__slide-desc {
              margin: 0;
              margin-bottom: 50px;

              letter-spacing: -0.47px;

              font-size: 16px;
              line-height: 28px;
              color: $color-default-black-text;
              opacity: 70%;
            }

            .slider-tab__btn-order-now {
              display: flex;
              align-items: center;
              padding: 30px 40px;

              letter-spacing: 2px;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 12px;
              background-color: $color-default-orange;
              color: $color-default-white;
              border: none;

              cursor: pointer;
            }
          }

          .slider-tab__slide__review {
            margin-top: 97px;
            padding: 30px;

            background-color: $color-default-white;

            .slider-tab__review__title {
              padding-bottom: 10px;
              margin-bottom: 20px;

              font-weight: 500;
              letter-spacing: -0.69px;
              font-size: 30px;
            }

            .slider-tab__review-content {
              margin: 0;
              margin-bottom: 35px;
              
              line-height: 28px;
              letter-spacing: -0.41px;
              font-size: 14px;
              color: $color-default-black-text;
              opacity: 70%;
            }

            .slider-tab__review-user {
              display: flex;
              align-items: center;
              gap: 16px;

              .slider-tab__username {
                font-weight: 500;
                letter-spacing: -0.47px;
                font-size: 16px;
                color: $color-default-black-text;
              }
            }
          }
        }
      }
    }
  }
}