.tours {
  position: relative;

  margin-bottom: 256px;

  font-family: $ff-montserrat;

  .tabs-background {
    position: absolute;
    width: 100%;
    z-index: -2;
  }

  .container {
    .tabs {
      .tabs__nav-wraper{
        margin-bottom: 80px;

        overflow: auto;
      }
      

      .tabs__nav {
        position: relative;

        display: flex;
        width: fit-content;
        gap: 99px;
        padding-bottom: 15px;

        .tabs__nav-item {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -0.41px;

          color: $color-default-black-second;
          opacity: 30%;

          cursor: pointer;
        }

        .active-tab {
          color: $color-default-orange;
          opacity: 100%;
        }
      }

      .tabs__nav::after {
        position: absolute;
        bottom: 0;

        display: block;
        min-width: 100%;

        border-bottom: 1px solid $color-default-black-second;

        opacity: 30%;

        content: "";
      }

      .tabs__slides {
        .tabs__slide {
          display: none;
        }

        .active-tab {
          position: relative;

          display: flex;
          justify-content: space-between;
          align-items: center;


          .slide-background-picture {
            position: absolute;
            top: -5%;
            right: 20%;
            z-index: -1;
          }

          .tabs__tab-description {
            .tabs__description-title {
              position: relative;

              padding: 0;
              padding-bottom: 20px;
              margin: 0;
              margin-bottom: 30px;

              font-weight: 600;
              letter-spacing: -1.25px;
              line-height: 90px;
              font-size: 55px;
              color: $color-default-black-second;
            }

            .tabs__description-title::after {
              position: absolute;
              bottom: 0;

              display: block;
              min-width: 175px;

              border-style: solid;
              border-color: $color-default-orange;
              border-width: 2px;

              content: "";
            }

            .tabs__tab-desc {
              max-width: 370px;
              min-height: 308px;
              margin: 0;
              margin-bottom: 50px;

              letter-spacing: -0.47px;

              font-size: 16px;
              line-height: 28px;
              color: $color-default-black-second;
              opacity: 70%;
            }

            .tabs__btn-order-now {
              display: flex;
              align-items: center;
              padding: 30px 40px;

              letter-spacing: 2px;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 12px;
              background-color: $color-default-orange;
              color: $color-default-white;
              border: none;

              cursor: pointer;
            }

            .tabs__btn-order-now:hover {
              background-color: $color-hover-button;
            }
          }

          .tabs__slide-review {
            margin-left: auto;
            padding: 30px;

            background-color: $color-default-white;

            .tabs__review-title {
              position: relative;
              padding-bottom: 10px;
              margin-bottom: 20px;

              font-weight: 500;
              letter-spacing: -0.69px;
              font-size: 30px;
            }

            .tabs__review-title::after {
              position: absolute;
              bottom: 0;

              display: block;
              min-width: 68px;

              border-style: solid;
              border-color: $color-default-orange;
              border-width: 1px;
              opacity: 30%;

              content: "";
            }

            .tabs__review-content {
              max-width: 322px;
              min-height: 164px;
              margin: 0;
              margin-bottom: 35px;

              line-height: 28px;
              letter-spacing: -0.41px;
              font-size: 14px;
              color: $color-default-black-second;
              opacity: 70%;
            }

            .tabs__review-user {
              display: flex;
              align-items: center;
              gap: 16px;

              .tabs__username {
                font-weight: 500;
                letter-spacing: -0.47px;
                font-size: 16px;
                color: $color-default-black-second;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .tours {
    margin-bottom: 112px;

    .tabs-background {
      display: none;
    }

    .container {
      .tabs {
        .tabs__slides {
          .tabs__slide {
            flex-direction: column;

            .slide-background-picture {
              left: 0;
              top: unset;
              bottom: 0;

              width: calc(100% + 64px);
              max-width: unset;
              height: 415px;
              margin: 0 -32px;

              object-fit: cover;
            }

            .tabs__tab-description {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 110px;

              .tabs__description-title {
                padding-bottom: 0;
                margin-bottom: 20px;

                font-size: 30px;
                letter-spacing: 0;
                line-height: 150%;
              }

              .tabs__description-title::after {
                display: none;
              }

              .tabs__tab-desc {
                max-width: 726px;
                min-height: 168px;
                text-align: center;
              }

              .tabs__btn-order-now {
                font-size: 10px;
                padding: 19px 52px;
              }
            }

            .tabs__slide-review {
              max-width: 382px;

              margin-left: 0;
              padding: 30px 30px 0 30px;

              .tabs__review-content {
                min-height: 164px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tours {
    margin-bottom: 45px;

    .tabs-background {
      display: none;
    }

    .container {
      .tabs {
        .tabs__slides {
          .tabs__slide {


            .slide-background-picture {
              bottom: 66px;
              max-height: 320px;
            }

            .tabs__tab-description {


              .tabs__description-title {
                font-size: 24px;
              }

              .tabs__tab-desc {
                max-width: 288px;
                min-height: 392px;

              }

              .tabs__btn-order-now {
                padding: 19px 68px;
              }
            }

            .tabs__slide-review {
              max-width: 268px;

              .tabs__review-title {
                text-align: center;

                font-size: 20px;
              }

              .tabs__review-title::after {
                left: 50%;
                transform: translate(-50%, 0);
              }

              .tabs__review-content {
                text-align: center;
                min-height: 221px;
              }

              .tabs__review-user {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}