.tour-places {
  margin-bottom: 97px;

  font-family: $ff-montserrat;

  .container {
    .tour-places__title {
      position: relative;
      margin: 0;
      margin-bottom: 30px;
      padding-bottom: 30px;
      max-width: 358px;

      letter-spacing: -1.25px;
      font-weight: 600;
      font-size: 55px;
      line-height: 80px;

      color: $color-default-black-second;
    }

    .tour-places__title::after {
      position: absolute;
      bottom: 0px;

      display: block;
      width: 228px;

      border-style: solid;
      border-color: $color-default-orange;
      border-width: 2px;

      content: "";
    }

    .tour-places__subtitle-text {
      margin: 0;
      margin-bottom: 56px;
      max-width: 358px;

      letter-spacing: -0.47px;
      font-size: 16px;
      line-height: 28px;

      color: $color-default-black-second;
      opacity: 70%;
    }

    .tour-places__places-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 40px;
      @include flex-grid-container(60px);


      .tour-places__places-list-content {
        position: relative;
        @include flex-grid-item(60px, 3);

        .tour-places__places-list-text-content {
          position: absolute;
          bottom: 0;
          transform: translate(-50%, 0);

          display: flex;
          justify-content: center;
          align-items: center;
          height: 61px;
          width: 215px;
          left: 50%;

          font-size: 24px;
          letter-spacing: -0.41px;
          font-weight: 500;

          background-color: $color-default-white;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          aspect-ratio: 350 / 430;
        }

        .tour-places__btn {
          position: absolute;
          min-width: 266px;
          top: 152px;
          left: 42px;
          // transform: translate(-50%, -50%);

          padding: 30px 25px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 14px;
          line-height: 17px;
          font-weight: 500;
          color: $color-default-white;
          border: 1px solid rgba($color-default-white, $alpha: 0.7);
          opacity: 0;

        }
      }

      .tour-places__places-list-content:hover {
        img {
          filter: brightness(60%);
        }

        .tour-places__btn {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .tour-places {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .tour-places__title {
        padding-bottom: 0;
        margin-bottom: 20px;

        font-size: 30px;
        line-height: 150%;
        letter-spacing: 0;

      }

      .tour-places__title::after {
        display: none;
      }

      .tour-places__subtitle-text {
        max-width: 343px;
        margin-bottom: 40px;

        text-align: center;
      }

      .tour-places__places-list {
        padding: 0 74px;
        row-gap: 0;

        @include flex-grid-container(29px);
        .tour-places__places-list-content {
          position: relative;
          @include flex-grid-item(20px, 2)
        }
      }
    }
  }
}