mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__next-tours.footer__wrapper
        h3.footer__title Следующие путешествия
        .footer__li-tours
          .column
            li Марсель
            li Ним
            li Монпелье
            li Барселона
            li Пальма
          .column
            li Сардиния
            li Палермо
            li Катания
            li Неаполь
            li Рим
          .column
            li Корс
            li Ницца
            li Монако
            li Динь-ле-Бен
            li Гренобль
      .footer__contacts.footer__wrapper
        h3.footer__title Наши контакты
        a.footer__email(href="puteshestviemechta@gmail.ru")
          +icon("mail-gray", 26, 20)
          span.text puteshestviemechta@gmail.ru
          span.text-tablet Почта
        a.footer__phone(href="tel:+749978468446")
          +icon("phone-gray", 30, 30) 
          |+7 (499) -784-684-46
      .footer__coop-tours.footer__wrapper
        h3.footer__title Корпоративные путешествия
        p.footer__desc Также вы можете заказать индивидуальное путешествие под вашу компанию. Подобные туры очень сближают компанию, помогают поддерживать корпоративный дух, а также являются оличным времяпрепровождением

